@font-face {
  font-family: 'iconfont';  /* project id 1092312 */
  src: url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.eot');
  src: url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1092312_7sqwcu1nogb.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
