$font-size-small-s = 0.2rem // 10px
$font-size-small = 0.24rem //12px
$font-size-medium = 0.28rem //14px
$font-size-medium-x = 0.32rem //16px
$font-size-large = 0.36rem //18px
$font-size-large-x = 0.44rem //22px


$font-color-1 = #b7b7b7 
$selected-tabs-color = #5b20ef
$selcted-app-bottomd-color = #b852f0
$background-color = #f4f4f4